<!-- bootstrap doc setup -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>The Sustainable Wealth Initiative</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }
  </style>
</head>
<body>

<!-- title -->

<div class=" greenback" >
  <div class="container">
    <div class="row">
      <div class="col-sm-8" >
        <br />
        <h1 style="color:white">| the sustainable wealth initiative |</h1>
        <br /> 
        <p style="color:white"><i> Profit off the <b>growth</b> of sustainable industries. <br />  Put your <b>money</b> where you <b>mouth</b> is. </i> </p> 
        <br />
      </div>
      <div class="col-sm-4" style="margin-top:10px">
          <div class="side-image" >
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="rain, rain" class="side-image" style="height:16em">
          </div>
      </div>
    </div>
  </div>
</div>


<!-- navbar -->
<nav class="navbar navbar-expand-sm centered container navbar-dark">
  <ul>
    <li class="navtext"><a href="#background">Background</a> </li>
    <li class="navtext"><a href="#challenge">Challenge</a> </li>
    <li class="navtext"><a href="#solution">Solution</a> </li> 
    <li class="navtext"><a href="#forminput">Try me <b>now</b>!</a></li> 
    <div class="underbar"></div>
  </ul>  
</nav>


<!-- background -->


<div class="container" style="margin-top:80px" id="background">
  <div class="row">
    <div class="col-sm-8">
      <h2 style="color:#566263">Background</h2>
      <p>
        As an investor, your sole focus is maximizing your ROI. You look to grow your personal wealth, support your family, and give your children the future they deserve. Most of all, you hope to hit the coveted <b>‘millionaire status’</b> by the age of 40. 
      </p>
      <p>
        Yet as investors, we often forget to consider whether or not our investments line up with our values. 
      </p>
      <p>
        Where we put our money - our investments - is the most meaningful way we can express our beliefs. By investing, we directly enable companies to succeed, grow, and thrive. By choosing to invest, you are implicitly endorsing a company’s goals, visions, and values. 
      </p>
    </div>
    <div class="col-sm-4" style="margin-top:40px">
      <div class="side-image" >
        <img src="{{ url_for('static', filename='images/cash.png') }}" alt="rain, rain" class="side-image" style="height:16em">
      </div>
    </div>
  </div>
</div>

<!-- challenge -->
<div class="container">
  <div class="row" >
    <div class="col-sm-12 text-center">
      <br />
      <a href="#challenge" class="btn btn-success stretched-link">Scroll ˅ </a>
    </div>
  </div>
</div>

<div class="container" style="margin-top:80px" id="challenge">
  <div class="row">
    <div class="col-sm-4" >
      <div class="side-image" >
        <img src="{{ url_for('static', filename='images/smoke2.jpg') }}" alt="smokestacks" class="side-image">
      </div>
    </div>
    <div class="col-sm-8" style="margin-top:70px">
      <h2>The Challenge</h2>
      <p>
        More often than not, our favorite ETFs, mutual funds, and stocks are ‘dirty’ - they invest our money directly into the fossil fuel industry. 
      </p>
      <p>
        Not only do we need to increase awareness about this for other investors, but we need to begin <b> divesting</b>. Divestment is the solution that truly enables us to put our money where our mouth is - it lets us show the nonrenewables industry that we quite literally mean business. 
      </p>
      <p>
        For those of us investors who care about the world we live in and our own personal financial wellbeing, now is the time to act. 
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row" >
    <div class="col-sm-12 text-center">
      <a href="#solution" class="btn btn-success stretched-link">Scroll ˅ </a>
    </div>
  </div>
</div>
<!-- solution -->

<div class="container" style="margin-top:80px" id="solution">
  <div class="row">
    <div class="col-sm-8" style="margin-top:30px">
      <h2>The Solution</h2>
      <p>
        Today, we present to you a web-based service that provides you a fast track to sustainable personal wealth growth and divestment. 
      </p>
      <p>
        The <b>Sustainable Wealth Initiative (SWI)</b> hopes to grant millennials, college grads, and other young investors the sustainable investing tools they need to make a real difference. If we work together to divest from fossil fuel stocks and invest in clean energy, we can grow our own wealth and help save the planet. 
      </p>
      <p>
        Just enter your Adjusted Gross Income (AGI), age, and state of residence. We will generate a personalized plan for how you can generate wealth… sustainably! Fill out the fields below to get personalized suggestions and info on how much you should be investing each month, how long it will take for you to hit <i>millionare status</i> and what clean funds you should be investing in. 
      </p>
    </div>
    <div class="col-sm-4" style="margin-top:40px">
      <div class="side-image" >
        <img src="{{ url_for('static', filename='images/wind3.png') }}" alt="windmill" class="side-image" style="height:18em">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row" >
    <div class="col-sm-12 text-center">
      <br />
      <a href="#forminput" class="btn btn-success stretched-link">Scroll ˅ </a>
    </div>
  </div>
</div>



<!-- input -->
<form action="/index2.html" method="POST">
<div class="container">
  <div class="row text-center" id="forminput">
    <div class="col-sm-12">
      <br />
      <br />
      <br />
      <h2 class="fancytext2">Demo the SWI here!</h2>
      <p>Start by simply entering your <i>Average Gross Income </i>(AGI), age, and state of residence. </p>
      <br>
    </div>
  </div>
  <div class="row text-center" >
    <div class="col-sm-12">
      <p>AGI in USD</p>
      <p2>
        $ <input type="text" name="salary" placeholder="75000">
      </p2>
      <br />
      <p>Age in years</p>
      <p2>
        <input type="text" name="age" placeholder="20"> years
      </p2>
      <br>
      <p>State of Residence</p>
      <select name="state">
        <option value="AL">AL</option>
        <option value="AK">AK</option>
        <option value="AZ">AZ</option>
        <option value="AR">AR</option>
        <option value="CA">CA</option>
        <option value="CO">CO</option>
        <option value="CT">CT</option>
        <option value="DC">DC</option>
        <option value="DE">DE</option>
        <option value="FL">FL</option>
        <option value="GA">GA</option>
        <option value="HI">HI</option>
        <option value="ID">ID</option>
        <option value="IL">IL</option>
        <option value="IN">IN</option>
        <option value="IA">IA</option>
        <option value="KS">KS</option>
        <option value="KY">KY</option>
        <option value="LA">LA</option>
        <option value="ME">ME</option>
        <option value="MD">MD</option>
        <option value="MA">MA</option>
        <option value="MI">MI</option>
        <option value="MN">MN</option>
        <option value="MS">MS</option>
        <option value="MO">MO</option>
        <option value="MT">MT</option>
        <option value="NE">NE</option>
        <option value="NV">NV</option>
        <option value="NH">NH</option>
        <option value="NJ">NJ</option>
        <option value="NM">NM</option>
        <option value="NY">NY</option>
        <option value="NC">NC</option>
        <option value="ND">ND</option>
        <option value="OH">OH</option>
        <option value="OK">OK</option>
        <option value="OR">OR</option>
        <option value="PA">PA</option>
        <option value="RI">RI</option>
        <option value="SC">SC</option>
        <option value="SD">SD</option>
        <option value="TN">TN</option>
        <option value="TX">TX</option>
        <option value="UT">UT</option>
        <option value="VT">VT</option>
        <option value="VA">VA</option>
        <option value="WA">WA</option>
        <option value="WV">WV</option>
        <option value="WI">WI</option>
        <option value="WY">WY</option>
      </select>
    </div>
  </div>
  <br>
  <button class="collapsible" >Additional Info & Options (For a plan better tailored to you!)</button>
  <div class="content">
    <br>
    <p>Filing Status:</p>
    <p>
      <input type="radio" name="filingstatus" value="single" checked> Single<br>
      <input type="radio" name="filingstatus" value="married"> Married<br>
      <input type="radio" name="filingstatus" value="married, filing separately"> Married, Filing Separately<br>
      <input type="radio" name="filingstatus" value="head of household"> Head of Household
    </p>
    <br>
    <p>Money in Savings, in USD:</p>
    <div>
      <p>$ <input type="text" name="moneysavings" placeholder="15000"> <br> </p>
      <br>
    </div>
    <p>Fund Type:</p>
      <input type="radio" name="fundtype" value="EO" checked />Open-Ended<br>
      <input type="radio" name="fundtype" value="EF" />ETF<br>
      <input type="radio" name="fundtype" value="None" />Either</p>
    <br>
      <input type="checkbox" name="divfunds" value="onlydivfunds" />Only Diversified Funds
    <br>
      <input type="checkbox" name="match401k" value="employer401kmatch" /> Employer Matches 401(k)>
    <br>

  </div>

<div class="container">
  <div class="row" >
    <div class="col-sm-12 text-center">
      <br />
      <input type="submit" class="btn btn-success stretched-link">
    </div>
  </div>
</div>
</form>

<!-- FOOTER -->

<div class="jumbotron text-center footerbase" style="margin-bottom:0" id="footer">
  <h2 class="fancytext2">Built at YHACK '19</h2>
  <p><b>By <a href="https://www.github.com/aramachandran7" target="_blank">Adi</a>, <a href="https://www.github.com/intermezzio" target="_blank">Andrew</a>, and <a href="https://www.github.com/rohilbagarwal" target="_blank">Rohil</a></b></p>
</div>

  <script>
  var coll = document.getElementsByClassName("collapsible");
  var i;

  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.maxHeight){
        content.style.maxHeight = null;
      } else {
        content.style.maxHeight = content.scrollHeight + "px";
      } 
    });
  }
  </script>
  
</body>
</html>
